// Skeleton header
//

.header {
  padding: 50px 0 25px 0;
  
  // Grid container config
  .grid-container {
    grid-template-columns: 350px 1fr;
  }

  // Menu
  .header__menu {
    display: flex;
    align-items: center;
    .menu__burger {
      margin-right: 10px;
    }
  }

  // Navigation List
  .navigation__list {
    justify-items: flex-end;
    justify-content: flex-end;
    align-items: center;
    .navigation__item {
      .navigation__link {
        padding: 0 10px;
        &.nav__icon {
          padding-left: 5px;
        }
      }
      .navigation__btn {
        margin: 0 10px;
      }
    }
  }
}

// Small Devices to down
@media (max-width: $sm-breakpoint) {
  .header {
    .grid-container {
      grid-template-columns: 1fr;
    }

    .header__menu {
      justify-content: center;
    }

    .navigation__list {
      justify-content: center;
    }
  }
}