// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  outline: none;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active,
  &.active {
    text-decoration: underline;
  }
}