// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  line-height: $html-line-height;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $font-size;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  outline: none;
  color: $chocolate-color;
  text-decoration: none;
  font-weight: 700;

  &:focus,
  &:hover,
  &:active,
  &.active {
    transition: .3s ease all;
    color: lighten($chocolate-color, 3%);
    text-decoration: underline;
  }
}