// Variables
//

// Colors
$color-white: #ffffff;
$color-black: #000000;

// Fonts
$font-primary: 'Titillium Web', sans-serif;
$font-secundary: 'Monserrat', sans-serif;
$font-paragraph: 'Roboto Slab', sans-serif;

// CSS Layout config
$grid-gap-px: 15px;