<header class="header">
    <div class="container grid-container">
        <div class="header__menu">
            <a id="burger" class="menu__burger" href="#">
                <i class="fas fa-bars"></i>
            </a>
            <a class="header__logotype" href="{{ site.baseurl }}">
                <img class="logotype" src="{{ 'logotype.svg' | prepend: site.assets.svg }}" width="200" alt="{{ site.description }}">
            </a>
        </div>
        <div class="header__navigation">
            <nav class="navigation__menu">
                <ul class="list-reset navigation__list">
                    <!-- <li class="navigation__item"><a class="navigation__link" href="#">Blog</a></li> -->
                    <!-- <li class="navigation__item"><a class="navigation__link" href="#">Work</a></li> -->
                    <li class="navigation__item"><a class="navigation__link navigation__btn btn" href="mailto: hello@coderdiaz.me">Hire me</a></li>
                    <li class="navigation__item">
                        <a class="navigation__link nav__icon" href="{{ site.twitter }}">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link nav__icon" href="{{ site.github }}">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>