<!-- Modal for menu -->
<portfolio-full-modal>
    <nav class="menu__list">
        <ul class="menu__navigation">
            <li><a class="menu__navigation-link" href="{{ site.baseurl }}">Home</a></li>
            <!-- <li><a class="menu__navigation-link" href="#">Blog</a></li> -->
            <!-- <li><a class="menu__navigation-link" href="#">Work</a></li> -->
            <li><a class="menu__navigation-link" href="{{ site.github }}">GitHub</a></li>
            <li><a class="menu__navigation-link" href="{{ site.twitter }}">Twitter</a></li>
            <li><a class="menu__navigation-link" href="{{ site.dribbble }}">Dribbble</a></li>
            <li><a class="menu__navigation-link" href="{{ site.youtube }}">Youtube</a></li>
            <li class="separator"></li>
            <li>Enjoy!</li>
            <li><a class="menu__navigation-link menu--email" href="mailto: hello@coderdiaz.me">hello@coderdiaz.me</a></li>
        </ul>
    </nav>
</portfolio-full-modal>
<!-- End modal for menu -->