// Buttons
//

.btn {
  background: $secondary-color;
  color: $primary-color !important;
  padding: 10px 15px !important;
  border-radius: 5px;

  &:hover {
    background: darken($secondary-color, 5%);
    text-decoration: none !important;
  }
}