// CSS Layout
//

.grid-container {
  display: grid;
  grid-gap: $grid-gap-px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

// Small devices
@media(min-width: $sm-breakpoint) {
  .container {
    max-width: $sm-breakpoint;
  }
}

// Medium devices
@media(min-width: $md-breakpoint) {
  .container {
    max-width: $md-breakpoint;
  }
}

// Large devices
@media(min-width: $lg-breakpoint) {
  .container {
    max-width: $lg-breakpoint;
    padding: 0;
  }
}