// Skeleton footer
//

.footer {
  padding: 15px 0;
  // Layout config
  .grid-container {
    grid-template-columns: 350px 1fr;
  }

  .footer__brand {
    display: flex;
    align-items: center;
    .footer__logotype {
      display: flex;
      .logotype {
        width: 150px;
      }
    }
  }

  .footer__copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

// Medium devices
@media(max-width: $md-breakpoint) {
  .footer {
    // Layout config
    .grid-container {
      grid-template-columns: 1fr;
    }

    .footer__brand {
      text-align: center;
    }

    .footer__copyright {
      text-align: center !important;
    }
  }
}