// Skeleton Home
//

// Position Hero
.hero__position {
  padding: 0 0 20px 0;

  // Layout config
  .grid-container {
    grid-template-columns: 5fr 8fr;
  }

  .user__image {
    position: relative;
    .profile__avatar {
      position: absolute;
      bottom: -100px;
    }
  }
}

// About section
.section__about {
  padding: 25px 0;
  // Layout config
  .grid-container {
    grid-template-columns: 5fr 8fr;
  }

  .about__info {
    margin-top: 70px;
  }

  .collaborate {
    &:before {
      content: '';
      display: block;
      margin-bottom: 20px;
      width: 30px;
      height: 2px;
    }
    dd {
      margin: 0.4rem 0 0.8rem;
    }
  }
}

// Dribbble section
.section__dribbble {
  margin-bottom: 50px;
}

// Hire section
.section__hire {
  padding: 25px 0;
  .email__info {
    margin-bottom: 40px;
  }
}

// Medium devices
@media(max-width: $md-breakpoint) {
  .hero__position {
    .grid-container {
      grid-template-columns: 1fr;
    }

    .title {
      margin-top: 15px;
    }

    .user__image {
      display: none;
    }
  }

  .section__about {
    .about__info {
      margin: 15px;
    }
  }
}

// Small devices
@media(max-width: $sm-breakpoint) {
  .section__about {
    .grid-container {
      grid-template-columns: 1fr;
    }

    .about__info {
      margin: 0;

      .collaborate {
        margin: 0;

        &:before {
          margin: 15px auto;
        }
      }
    }
  }

  .section__dribbble {
    .card-lg {
      min-height: 245px;
    }

    .card-md {
      min-height: 150px;
    }

    .card-sm {
      min-height: 120px;
    }
  }
}