// Skin home
//

// Position Hero
.hero__position {
  background: $primary-color;

  .title {
    font-size: 60px;
    line-height: 1.2;
    font-family: $secondary-font-family;
    color: $secondary-color;
  }

  .position {
    color: $copperfield-color;
  }
}

// About section
.section__about {
  .about__description {
    font-size: 22px;
    font-weight: 300;
    a {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .collaborate {
    &:before {
      background-color: $primary-color;
    }
    dt {
      font-weight: 700;
      font-size: 16px;
    }
    a {
      text-decoration: underline;
    }
  }
}

// Dribbble section
.section__dribbble {
  .card__image {
    background-size: cover;
    background-position: center;
  }
}

// Hire section
.section__hire {
  background: $claret-color;
  color: $mandys-pink-color;
  .section__title {
    font-size: 34px;
  }
  .email__info {
    font-size: 20px;
    font-weight: 400;
    .email__title {
      font-weight: 700;
    }
    a {
      font-weight: 300;
      color: $mandys-pink-color;
      text-decoration: underline;
      &:hover {
        color: darken($mandys-pink-color, 5%);
      }
    }
  }
}